{% extends "recipes-template.html" %}
{% block title %}{{item_details.name}} Details{% endblock %}

{{ super() }}

{% block head %}{{item_details.name}} Details{% endblock %}

{% block content %}
    <div class="category-content active" id="content">
        <div class="wrapper">
            <button onclick="history.back()" class="icon-close"> 
                <ion-icon name="close"></ion-icon>
            </button>
            {% if item_details.category_name %}
                <h2>Ingredients</h2>
                
                <p>
                    {% for ingredient in item_details.ingredient %}
                        {{ingredient.name}}
                        {% if not loop.last %}
                        -
                        {% endif %}
                    {% endfor %}
                </p>
                {% if is_authenticated%}
                <h3>Missing Ingredients</h3>
                <p>
                    {% for ingredient in item_details.ingredient %}
                        {% if ingredient not in current_user.ingredient %}
                            {{ingredient.name}}
                            {% if not loop.last %}
                            -
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    
                </p>
                {% endif %}
            {% endif %}
            
            <h1>Description</h1>
            <p>{{item_details.description}}</p>
        </div>
    </div>
{% endblock %}