{% extends "main-template.html" %}
{% block title %}Flask MVC App{% endblock %}
<!-- {% block page %}Flask MVC App{% endblock %} -->

{{ super() }}

{% block link %}
    {% if is_authenticated %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login-page">Login</a>
        <a href="/signup-page">Signup</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="body-text" id="body-text">  
        <p1>Thousands of recipies ready all within your touch..</p1>
        <br>
        <p2>What are you cooking today?</p2>
        <br>
        <a href="/render-all-recipes">Click to view our Library</a>
        <br>
     
    </div>
{% endblock %}