{% extends "main-template.html" %}
{% block title %}App Users{% endblock %}


{{ super() }}

{% block content %}
  
    <div class="row">
      <div class="side">

        <h1>{{current_user.username.capitalize()}}'s Recipes</h1>
        <h2>Add Ingredients</h2>
        <ul>
          {% for ingredient in ingredients %}
          <a href="/add-user-ingredient/{{ingredient.name}}"><li>{{ingredient.name}}</li></a>
          {% endfor %}
        </ul>

        <br>
        <br>
        <h2>My Ingredients</h2>
        <ul>
          {% for ingredient in current_user.ingredient %}
          <a href="/remove-user-ingredient/{{ingredient.name}}"><li>{{ingredient.name}}</li></a>
          {% endfor %}
        </ul>
        
        

      </div>
      <div class="main">
        <div class="category-content" id="content">
          {% for recipe in current_user.recipe %}
            <div class="card">
                <img src="{{recipe.image}}" alt="John" style="width:100%">
                <h1>{{recipe.name}}</h1>
                <p class="title">Details:</p>
                <p class="details">{{recipe.description}}</p>
                <div class="small-icons" id="icons">
                  <a href="{{recipe.yt}}"><i class="fa fa-youtube-play" style="font-size:24px"></i></a>
                  
                  {%if is_authenticated%}
                    {% if recipe not in current_user.recipe %}
                      <span id="{{recipe.name}}">
                          <a onclick="favorite({{recipe.id}}, '{{recipe.name}}')" ><ion-icon name="star-outline"></ion-icon></a>
                      </span>
                      {% else %}
                      <span id="{{recipe.name}}">
                          <a onclick="unfavorite({{recipe.id}}, '{{recipe.name}}')" ><ion-icon name="star"></ion-icon></a>
                      </span>
                    {% endif %}
                  {% endif %}
                </div>
                <a href="/render-details/{{recipe.name}}">
                    <p><button>Show Recipe</button></p>
                </a>
            </div>
          {% endfor %}



          
    
        </div>
    </div>

{% endblock %}
