{% extends "main-template.html" %}
{% block title %}App Users{% endblock %}


{{ super() }}

{% block content %}

  
    <div class="row">
      <div class="side">
        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            {% for ingredient in ingredients %}
              <a href="/add-user-ingredient/{{ingredient.name}}">{{ingredient.name}}</a>
            {% endfor %}
          </div>
        </div>

        <br>
        <br>
        <h1>My Ingredients</h1>
        <ul>
          {% for ingredient in current_user.ingredient %}
            <li>{{ingredient.name}}</li>
          {% endfor %}
        </ul>
        
        

      </div>
      <div class="main">
        <div class="category-content" id="content">
          <div class="card">
            <img src="#" alt="Loading..." style="width:100%">
            <h1>Loading...</h1>
            <p class="title">Details:</p>
            <p class="details">Loading...</p>
            <button id="show-details"> Loading...</button>
            <p><button>Loading...</button></p>
          </div>
          <div class="card">
            <img src="#" alt="Loading..." style="width:100%">
            <h1>Loading...</h1>
            <p class="title">Details:</p>
            <p class="details">Loading...</p>
            <button id="show-details"> Loading...</button>
            <p><button>Loading...</button></p>
          </div>
          <div class="card">
            <img src="#" alt="Loading..." style="width:100%">
            <h1>Loading...</h1>
            <p class="title">Details:</p>
            <p class="details">Loading...</p>
            <button id="show-details"> Loading...</button>
            <p><button>Loading...</button></p>
          </div>
          <div class="card">
            <img src="#" alt="Loading..." style="width:100%">
            <h1>Loading...</h1>
            <p class="title">Details:</p>
            <p class="details">Loading...</p>
            <button id="show-details"> Loading...</button>
            <p><button>Loading...</button></p>
          </div>
          <div class="card">
            <img src="#" alt="Loading..." style="width:100%">
            <h1>Loading...</h1>
            <p class="title">Details:</p>
            <p class="details">Loading...</p>
            <button id="show-details"> Loading...</button>
            <p><button>Loading...</button></p>
          </div>
          <div class="card">
            <img src="#" alt="Loading..." style="width:100%">
            <h1>Loading...</h1>
            <p class="title">Details:</p>
            <p class="details">Loading...</p>
            <button id="show-details"> Loading...</button>
            <p><button>Loading...</button></p>
          </div>
          <div class="card">
            <img src="#" alt="Loading..." style="width:100%">
            <h1>Loading...</h1>
            <p class="title">Details:</p>
            <p class="details">Loading...</p>
            <button id="show-details"> Loading...</button>
            <p><button>Loading...</button></p>
          </div>
    
        </div>
    </div>

{% endblock %}
